{% extends 'base.html.twig' %}

{% block title %}Accueil Broc & Stock{% endblock %}

{% block stylesheets %}
 
{% endblock %}

{% block body %}
{% include 'partials/_navbar.html.twig' %}
<section class="home">
    {# <div class="background-image"></div> #}
    <h1>Broc en Stock</h1>
    <h3>Antiquité/brocante à Irigny (69)</h3>
    <a href="tel:0609202938">0609202938</a>
</section>

<section class="preview-gallery">
    <h3 class="title">Achat, expertise, débarras, vente d’antiquités et objets vintages</h3>
    <p>Brock en stock, objets d’art anciens et brocante à Iriginy(69). <br>
        L'Achat, l’expertise et débarras de vos antiquités et brocante provenant de successions, de maisons et
        d’appartements.
    </p>
    <hr>

    <ul class="grid">
        <li class="small" style="background-image: url(../images/old-stove-896285_1920.jpg);"></li>
        <li class="large" style="background-image: url(../images/sofa-1603928_1920.jpg);"></li>
        <li class="large" style="background-image: url(../images/toy-938775_1920.jpg);"></li>
        <li class="small" style="background-image: url(../images/hour-s-1994980_1920.jpg);"></li>
    </ul>

</section>

<section class="paralax">
    <div class="container-fluid para1 d-flex flex-column justify-content-center align-items-center">
        <h2 class="display-3 text-center text-white appear paralax-h2">Votre brocante à Irigny (69)</h2>
        <p class="lead text-center text-white appear paralax-p">
            Brocanteurs passionnés depuis 2013, nous sommes spécialistes dans l’achat, l'expertise et le débarras de
            vos antiquités et objets anciens et vintages. Nous débarrassons et estimons vos objets anciens et d’occasion/
            vintages, provenant de succession, maison, appartement, grenier, cave… <br> Nous nous déplaçons sur toute la
            région Rhône Alpes où nous sommes situés mais également sur la France entière (avec devis sur photo au
            préalable).
        </p>
    </div>
</section>

<section class="features">
    <h3 class="title">Vous cherchez, nous vendons</h3>
    <p class="txt">
        Véritable passionné de l’histoire de l’art et de la décoration d’intérieur, Sébastien "seb pour les intimes" apporte une expertise serieux et rafinée.
        <br>
        Il trouve tout ce dont vous avez besoin et il y a toujours un objet pour se souvenir d’un autre temps. il vous
        fera découvrir un grand nombre d’objets plus ou moins anciens, cela peut aller de l’amphore romaine daté du
        Ier siècle à la chaise de designer du XXIe.
        <br>
        Amateurs ou non d’objets rares et anciens, il vous proposera celui qui fera de votre intérieure un
        lieu unique. Il déniche pour vous tous types d’objets anciens ou d’occasion.
    </p>
    <hr>
    <div id="flex-container">
        <div class="three-cards">
            <div class="header">
                <img style="width: 80px; height: 80px" src="{{ asset('ressources/key.svg')}}" alt="">
            </div>
            <div class="details">
                <h6>DEBARRAS</h6>
                <hr>
                <p>Nous sommes spécialistes du débarras de tout type de locaux (pour particulier et professionel).</p>
            </div>
            <div id="btn" >
                <a href="">Voir plus</a>
            </div>
        </div>

        <div class="three-cards">
            <div class="header">
                <img style="width: 80px; height: 80px" src="{{ asset('ressources/table.svg')}}" alt="">
            </div>
            <div class="details">
                <h6>ACHAT / VENTE</h6>
                <hr>
                <p>Nous sommes spécialistes d’achat de biens anciens provenant de successions, de maisons et
                    d’appartements.</p>
            </div>
            <div id="btn">
                <a href="">Voir plus</a>
            </div>
        </div>

        <div class="three-cards">
            <div class="header">
                <img style="width: 80px; height: 80px" src="{{ asset('ressources/telephone.svg')}}" alt="">
            </div>
            <div class="details">
                <h6>DEVIS 7J/7</h6>
                <hr>
                <p>Nous réalisons une expertise gratuite de vos objets anciens sur le Rhône-Alpes et partout
                    en France pour débarrasser vos maisons, appartements....</p>
            </div>
            <div id="btn">
                <a href="">Voir plus</a>
            </div>
        </div>
    </div>
</section>
{% include 'partials/_footer.html.twig' %}
{% endblock %}
