/************************************************************************************/
/*                              769px < Ecran < 1200px                              */
/************************************************************************************/
@media (min-width: 769px) and (max-width: 1200px) {
    /*******************************************/
    /*               Navigation                */
    /*******************************************/
    a.navbar-brand {
        font-size: 30px !important;
    }

    .nav-item {
        margin-right: 10px;
    }

    .navbar a {
        font-size: 15px;

        .icon.whatsapp-icon {
            width: 30px;
            height: 30px;
        }
    }
    /*******************************************/
    /*               Générale                  */
    /*******************************************/

    section {
        padding: 100px 50px;
    }
    .home,
    .preview-gallery,
    .features {
        padding: 125px 100px;

        h1 {
            font-size: 80px;
        }

        h3 {
            font-size: 32px;
        }

        p {
            max-width: 1000px;
            margin-bottom: 35px;
            padding: 0 10px;
            line-height: 2;
            font-size: 18px;
        }
    }

    /*******************************************/
    /*            Preview Gallery              */
    /*******************************************/
    .preview-gallery .grid li.small,
    .preview-gallery .grid li.large {
        flex-basis: 100%;
    }

    /*******************************************/
    /*               Paralax                   */
    /*******************************************/

    .paralax {
        .para1 p {
            font-size: 30px;
            margin: 20px 50px;
            padding: 20px 50px;
            border: 1px solid white;
        }
    }

    /*******************************************/
    /*               DEBARRAS                  */
    /*******************************************/
    #debarras {
        h1 {
            font-weight: bold;
            font-size: 40px;
            margin-bottom: 100px;
        }

        p {
            font-size: 20px;
            text-align: center;
        }

        h3 {
            font-weight: normal;
            font-size: 35px;
            margin-top: 100px;
            margin-bottom: 40px;
            text-decoration: underline;
        }

        .solLi {
            font-size: 18px;
            margin-top: 20px;
        }

        .para-end {
            margin-top: 75px;
            font-size: 30px;
            color: $orange;
            font-weight: bold;
        }
    }

    /*******************************************/
    /*             Galerie photo               */
    /*******************************************/
    #galerie {
        .container-fluid {
            img.image-gallery {
                width: 200px;
                height: 200px;
            }
        }
    }
}

/************************************************************************************/
/*                              481px < Ecran < 768px                               */
/************************************************************************************/
@media screen and (min-width: 481px) and (max-width: 768px) {
    /*******************************************/
    /*               Navigation                 */
    /*******************************************/
    a.navbar-brand {
        font-size: 50px !important;
    }
    .nav-item {
        margin-right: 5px;
    }
    .navbar a {
        font-size: 15px;

        .icon.whatsapp-icon {
            width: 25px;
            height: 25px;
        }
    }
    .navbar.opaque .navbar-brand {
        font-size: 20px !important;
        transition: all 0.4s ease;
    }
    .navbar.opaque a {
        font-size: 12px;
        transition: all 0.4s ease;
    }

    /*******************************************/
    /*               Générale                  */
    /*******************************************/
    section {
        padding: 80px 30px;
    }
    .home,
    .preview-gallery,
    .features {
        padding: 50px;

        h1 {
            font-size: 80px;
        }

        h3 {
            font-size: 32px;
        }

        p {
            max-width: 1000px;
            margin-bottom: 35px;
            padding: 0 10px;
            line-height: 2;
            font-size: 18px;
        }
    }

    /*******************************************/
    /*            Preview Gallery              */
    /*******************************************/
    .preview-gallery .grid li.small,
    .preview-gallery .grid li.large {
        flex-basis: 100%;
    }

    /*******************************************/
    /*               Paralax                   */
    /*******************************************/

    .paralax {
        .paralax-h2 {
            font-size: 50px;
            margin: 25px 0;
        }
        .para1 p {
            font-size: 30px;
            margin: 0px 0px;
            padding: 20px 50px;
            border: 1px solid white;
        }
    }

    /*******************************************/
    /*               Features                  */
    /*******************************************/
    .features {
        #flex-container {
            flex-direction: column;

            .three-cards {
                width: 300px;
                height: 420px;
                margin: 30px;
            }

            .header {
                height: 100px;
                width: 300px;
            }

            .details {
                height: 220px;
            }
        }
    }

    /*******************************************/
    /*             Galerie photo               */
    /*******************************************/
    #galerie {
        margin-top: 50px;

        .container-fluid {
            .h2Photos {
                font-size: 30px;
                padding-top: 50px;
                padding-bottom: 50px;
            }

            img.image-gallery {
                text-align: center;
                width: 150px;
                height: 150px;
            }
        }
    }

    /*******************************************/
    /*               CONTACT                   */
    /*******************************************/
    .box {
        width: 500px;
    }

}

/************************************************************************************/
/*                              200px < Ecran < 480px                               */
/************************************************************************************/
@media screen and (min-width: 200px) and (max-width: 480px) {
     /*******************************************/
     /*               Navigation                */
     /*******************************************/
    a.navbar-brand {
        font-size: 30px !important;
    }
    .navbar.opaque .navbar-brand {
        font-size: 20px !important;
    }

    /*******************************************/
    /*               Générale                  */
    /*******************************************/
    .home,
    .preview-gallery,
    .features {
        padding: 20px;

        h1 {
            font-size: 100px;
        }

        h3 {
            font-size: 35px;
        }

        p {
            max-width: 100%;
            font-size: 15px;
        }
    }

    /*******************************************/
    /*            Preview Gallery              */
    /*******************************************/
    .preview-gallery .grid li.small,
    .preview-gallery .grid li.large {
        flex-basis: 100%;
    }
    .preview-gallery .grid {
        width: 400px;
    }

    /*******************************************/
    /*               Paralax                   */
    /*******************************************/
    .paralax {
        background-image: url(../images/cavalry-3326987.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        width: 100%;
        background-attachment: fixed;
        max-height: 500px;

        .paralax-h2 {
            font-size: 30px;
            margin: 25px 0;
        }

        .para1 p {
            font-size: 20px;
            margin: 0;
            padding: 10px 20px;
            border: 1px solid white;
        }
    }

    /*******************************************/
    /*               Features                  */
    /*******************************************/
    .features {
        #flex-container {
            flex-direction: column;

            .three-cards {
                width: 300px;
                height: 420px;
                margin: 30px;
            }

            .header {
                height: 100px;
                width: 300px;
            }

            .details {
                height: 220px;
            }
        }
    }

    /*******************************************/
    /*               CONTACT                   */
    /*******************************************/
    .box {
        width: 400px;
    }

    /*******************************************/
    /*           Page Brocante                 */
    /*******************************************/
    #debarras {
        text-align: center;
        h1 {
            font-size: 30px;
            margin-bottom: 50px;
        }
        h3 {
            font-size: 30px;
            margin-top: 50px;
            margin-bottom: 40px;
        }
    } 

    /*******************************************/
    /*               Footer                    */
    /*******************************************/
    footer {
        .footer-container {
            flex-direction: column;
            max-width: 100%;
            padding: 0 20px;

            .footer-contact {
                flex-basis: 100%;
                padding: 20px 20px;
            }

            .about-footer,
            .medias-footer,
            .footer-list {
                min-height: 150px;
            }

            .about-footer {
                text-align: center;
                width: 100%;
            }

            .footer-list,
            .medias-footer {
                text-align: center;
                width: 100%;
                padding: 20px 0 0;
            }

            .medias-footer {
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    flex-shrink: 0;
                    display: block;
                    margin-right: 0px;
                    padding: 0 5px;
                }
            }
        }

    }
}


