
/*******************************************/
/*               Générale                  */
/*******************************************/
body {
    background: $blanc;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "Kaushan Script", sans-serif;
}
.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: $black;
    text-align: center;
    background-color: $orange;
    border-radius: .25rem;
}
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.tooltip.bs-tooltip-bottom .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 0 5px 5px;
    border-bottom-color: $orange;
}
ul {
    list-style: none;
}
.icon {
    width: 50px;
    height: 50px;
}
a.btn {
    color: white;
    border-radius: 4%;
    text-transform: uppercase;
    background-color: #2196F3;
    font-weight: 800;
    text-align: center;
}
ul.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
hr {
    width: 150px;
    height: 2px;
    background-color: #2196F3;
    border: 0;
    margin-bottom: 80px;
}

/*******************************************/
/*               Navigation                */
/*******************************************/
#main-nav {
    transition: all 0.4s ease;
}
.container-brand {
    width: auto;
}
.bg-dark {
    background-color: $black !important;
}
a.navbar-brand {
    color: $orange !important;
    font-size: 45px !important;
    transition: all 0.4s ease;
}
.navbar a {
    color: $orange !important;
    font-size: 22px;
    font-weight: 700;
    transition: all 0.4s ease;
}
.navbar.opaque .navbar-brand {
    font-size: 27px !important;
    transition: all 0.4s ease;
}
.navbar.opaque a {
    font-size: 18px;
    transition: all 0.4s ease;
}
.nav-item {
    margin-right: 30px;
}
.fa-phone-square-alt {
    font-size: 22px;
    color: $orange;
}

/*******************************************/
/*               Home Page                 */
/*******************************************/
.home,
.preview-gallery,
.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 100px;

    h1 {
        font-size: 100px;
        color: $orange;
        text-transform: capitalize;
    }

    h3 {
        color: $orange;
        text-transform: capitalize;
        font-size: 50px;
        font-weight: bold;
        margin-top: 50px;
        margin-bottom: 35px;
        text-align: center;
    }

    p {
        max-width: 1000px;
        text-align: center;
        margin-bottom: 35px;
        padding: 0 10px;
        line-height: 2;
        font-size: 25px;
    }
}

/***********************************/
/*             Home                */
/***********************************/
.home {
    position: relative;
    min-height: 100vh;
    justify-content: center;
    text-align: center;

    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/hour-s-1994980_1920.jpg);
        background-size: cover;
        background-attachment: fixed;
        z-index: -1;
    }
}

/***********************************/
/*        Preview Gallery          */
/***********************************/
.preview-gallery .grid li {
    padding: 20px;
    height: 350px;
    border-radius: 3px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: #333;
}
.preview-gallery .grid li.small {
    flex-basis: 40%;
}
.preview-gallery .grid li.large {
    flex-basis: 60%;
}

/***********************************/
/*             Paralax             */
/***********************************/
.paralax {
    background-image: url(../images/cavalry-3326987.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 900px;
    background-attachment: fixed;

    .paralax-h2 {
        margin: 100px;
    }

    .para1 p {
        font-size: 30px;
        margin: 20px 300px;
        padding: 20px 50px;
        border: 1px solid white;
    }
}

/***********************************/
/*             Features            */
/***********************************/
#flex-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.three-cards {
    width: 300px;
    height: 520px;
    margin: 30px;
    position: relative;
    transition: 0.2s ease-in;
    box-shadow: 0px 10px 30px $black;
    transition: all 0.2s ease-in;
}
.three-cards:hover {
    transform: scale(1.1)
}
.header {
    background: white;
    height: 150px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.details {
    h6 {
        text-align: center;
    }

    hr {
        margin-bottom: 30px;
    }

    height: 270px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: all 0.2s ease-in;
}
#btn {
    background: white;
    height: 100px;
}
#btn a {
    text-decoration: none;
    height: 50px;
    width: 120px;
    display: block;
    margin: auto;
    text-align: center;
    line-height: 50px;
    position: relative;
    top: 10px;
    border-radius: 30px;
    border: 1px solid salmon;
    transition: all 0.2s ease-in;
    color: salmon;
}
#btn a:hover {
    background: rgba($color: salmon, $alpha: 0.8);
    color: white;
}

/*********************************/
/*            Footer             */
/*********************************/
footer {
    position: relative;
    width: 100%;
    margin-top: 200px;
    background: $black;
    color: $orange;
    // .fond-curvy {
    //     width: 100%;
    //     position: absolute;
    //     left: 0;
    //     bottom: 30%;
    //     z-index: -2;

    // }
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: 1100px;
        margin: -100px auto 0;
        padding: 0 20px;

        .footer-contact {
            flex-basis: 60%;
            background: $orange;
            height: 300px;
            padding: 40px 70px;
            color: $black;

            .contact-title {
                font-size: 40px;
                color: $blanc;
                margin-bottom: 20px;
                color: $black;
            }
        }

        .about-footer,
        .medias-footer,
        .footer-list {
            min-height: 250px;

            .liste li a {
                color: $orange;
            }

            .footer-title {
                font-size: 23px;
                padding-bottom: 10px;
            }

            .footer-txt {
                line-height: 1.4;
            }
        }

        .about-footer {
            width: 40%;
            padding: 120px 40px 0;
        }

        .footer-list,
        .medias-footer {
            padding: 50px 0 0;
            width: 33%;
        }

        .medias-footer {
            display: flex;

            a {
                flex-shrink: 0;
                display: block;
                margin-right: 15px;
            }
        }
    }

}

/*******************************************/
/*            Galeries photos              */
/*******************************************/
#galerie {
    margin-top: 100px;

    .container-fluid {
        .h2Photos {
            padding-top: 100px;
            padding-bottom: 100px;
            font-size: 70px;
            color: $orange;
        }

        img.image-gallery {
            width: 350px;
            height: 350px;
            border-radius: 9999px;
            border: 2px solid $orange;
        }

        img.image-gallery:hover {
            transform: scale(1.1);
        }

    }
}

/*******************************************/
/*           Débarras & Brocante           */
/*******************************************/
#debarras {
    margin-top: 150px;

    h1 {
        color: $orange;
        font-weight: bold;
        font-size: 50px;
        margin-bottom: 100px;
    }

    p {
        font-size: 25px;
        text-align: center;
    }

    h3 {
        font-weight: normal;
        font-size: 45px;
        margin-top: 100px;
        margin-bottom: 40px;
        text-decoration: underline;
    }

    .solLi {
        font-size: 25px;
        margin-top: 20px;
    }

    .para-end {
        margin-top: 75px;
        font-size: 30px;
        color: $orange;
        font-weight: bold;
    }

    img.image-brocante {
        width: 250px;
        height: 250px;
        border-radius: 9999px;
    }
}

/*******************************************/
/*               Contact                   */
/*******************************************/
.container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 0;
}

.box {
    width: 800px;
    height: auto;
    padding: 25px;
    background: $blanc;
    border-radius: 3px;

    h6 {
        font-size: 22px;
        text-align: center;
    }

    h3 {
        font-size: 45px;
        color: $orange;
        font-weight: 900;
        text-align: center;
        margin-bottom: 100px;
    }

    .formBloc {
        .formGroupe {
            position: relative;
            display: flex;
            width: 100%;
            margin-bottom: 50px;

            div {
                width: 100%;
            }

            label {
                position: absolute;
                top: 50%;
                left: 0px;
                transform: translateY(-50%);
                color: $orange;
                font-size: 20px;
                transition: 0.4s ease-out;
            }

            input {
                display: block;
                width: 100%;
                padding: 10px 0px;
                border: none;
                outline: none;
                background: none;
                border-bottom: 3px solid $orange;
                color: $orange;
                font-size: 20px;
                transition: 0.4s ease-out;
            }

            textarea {
                background-color: $blanc;
                overflow: auto;
                width: 100%;
                resize: none;
            }

            &:nth-child(7) {
                margin-bottom: 65px;
                justify-content: center;
            }
        }
    }
}

.buttonSub {
    display: block;
    width: auto;
    padding: 15px 60px;
    border: 3px solid #b07748;
    border-radius: 999px;
    font-size: 20px;
    background-color: $blanc;
    border: 2px solid $orange;
    color: $orange;
    float: right;
    background-image: linear-gradient(to right, transparent 50%, $orange 50%, #b07748);
    background-size: 200%;
    cursor: pointer;
    transition: 0.4s ease-out;
}

.buttonSub:hover {
    background-position: 100%;
    color: white;
    border: 2px solid white;
}


/*******************************************/
/*               Animation                 */
/*******************************************/
.formBloc .formGroupe:focus-within label,
.formBloc .formGroupe .form-group.animation-input label {
    top: 0px;
    transform: translateY(-100%);
    color: $orange;
}

.formBloc .formGroupe:focus-within input,
.formBloc .formGroupe .form-group.animation-input input {
    border: 1px solid green;
}
