/******** GENERAL ******/

/*Couleur*/
$background-general: #f1f1f1;
$bleu: #17232d;

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Kaushan Script";
    src: url(../font/Kaushan_Script/KaushanScript-Regular.ttf);
}

body {
    background: #f1f1f1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-family: "Kaushan Script", sans-serif;
}

html, body{
    height: 100%;
}

ul{
    list-style: none;
}

a.btn{
    color: white;
    border-radius: 4%;
    text-transform: uppercase;
    background-color: #2196F3;
    font-weight: 800;
    text-align: center;
}

.home,
.preview-gallery,
.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 100px;

    h3.title {
        color: #414a4f;
        text-transform: capitalize;
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 35px;
        text-align: center;
    }

    p {
        max-width: 1000px;
        text-align: center;
        margin-bottom: 35px;
        padding: 0 10px;
        line-height: 2;
        font-size: 18px;
    }
}

ul.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

hr{
    width: 150px;
    height: 2px;
    background-color: #2196F3;
    border: 0;
    margin-bottom: 80px;
}

@media (max-width: 1000px){
    section{
        padding: 100px 50px;
    }
}

@media (max-width: 600px) {
    section {
        padding: 80px 30px;
    }
}

/* Page Principale */



/* Menu */
#main-nav{
    transition: all 0.4s ease;
}

.container-brand{
    width: auto;
}

.bg-dark{
    background-color: black !important;
}

a.navbar-brand{
    color: #ff7300 !important;
    font-size: 45px!important;
    transition: all 0.4s ease;
}

.navbar a {
    color: #ff7300 !important;
    font-size: 22px;
    font-weight: 700;
    transition: all 0.4s ease;
}

.navbar.opaque .navbar-brand{
    font-size: 27px!important;
    transition: all 0.4s ease;
}

.navbar.opaque a {
    font-size: 18px;
    transition: all 0.4s ease;
}

.nav-item{
    margin-right: 30px;
}

@media screen and (max-width: 1000px) {
    .nav-item {
        margin-right: 10px;
    }

    .navbar a {
        font-size: 15px;
    }
}


/***** Footer *****/
footer{
    margin-top: 200px;
    background: black;
    color: white;
    padding-bottom: 50px;
    color: #ff7300;
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: 1100px;
        margin: -100px auto 0;
        padding: 0 20px;
        .footer-contact{
            flex-basis: 60%;
            background: #ff7300;
            height: 300px;
            padding: 40px 70px;
            color: black;
            .contact-title{
                font-size: 40px;
                color: #f1f1f1;
                margin-bottom: 20px;
                color: black;
            }
        }
        .about-footer,
        .medias-footer,
        .footer-list {
            min-height: 250px;
            .liste li a{
                color: #ff7300;
            }
            .footer-title{
                font-size: 23px;
                padding-bottom: 10px;
            }
            .footer-txt{
                line-height: 1.4;
            }
        }
        .about-footer{
            width: 40%;
            padding: 120px 40px 0;
        }
        .footer-list,
        .medias-footer{
            padding: 50px 0 0;
            width: 33%;
        }
        .medias-footer{
            display: flex;
            a{
               flex-shrink: 0;
               display: block;
               margin-right: 15px;
            }
        }
    }
    
}

@media screen and (max-width: 800px){
    .footer-container{
        flex-direction: column;
        .footer-contact{
            padding: 30px;
            .contact-title {
                font-size: 30px;
            }
        }
        .footer-list,
        .about-footer,
        .medias-footer{
            min-height: auto;
            width: 50%;
        }
        .about-footer{
            padding: 40px 0 0;
        }
    }
}



/***** Home ******/
.home{
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
    background-image: url(../images/hour-s-1994980_1920.jpg);
    background-size: cover;
    background-color: #2196F3;
    z-index: -1;

    // .background-image {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
        
    // }
    h1{
        font-weight: bold;
        font-size: 100px;
        margin-bottom: 15px;
        color: #ff7300;
    }
    h3{
        font-weight: normal;
        font-size: 45px;
        margin-bottom: 40px;
        color: #ff7300
    }
    a{
        padding: 20px 46px;
        font-weight: bold;
        font-size: 100px;
        color: #ff7300
    }
}

@media(max-width: 800px){
    .home{
        min-height: 600px;

        h1{
            font-size: 48px;
        }
        h3{
            font-size: 24px;
        }
    }
}

@media(max-width: 500px) {
    .home {
        h1 {
            width: 300px;
            font-size: 40px;
            color: #f1f1f1;
        }

        h3 {
            font-size: 20px;
            color: #f1f1f1;
        }
        a {
            padding: 20px 46px;
            font-weight: bold;
            font-size: 40px;
            color: #f1f1f1;
        }
    }
}

/******** Preview Gallery ********/

.preview-gallery .grid li{
    padding: 20px;
    height: 350px;
    border-radius: 3px;

    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: #333;
}

.preview-gallery .grid li.small{
    flex-basis: 40%;
}

.preview-gallery .grid li.large {
    flex-basis: 60%;
}

@media (max-width: 1000px){
    .preview-gallery .grid li.small,
    .preview-gallery .grid li.large {
        flex-basis: 100%;
    }
}

@media(max-width: 500px) {
    .preview-gallery{
        h3.title{
            width: 300px;
            font-size: 20px;
        }
        p{
            width: 400px;
        }
    }
    .preview-gallery .grid {
        width: 400px;
    }
}

/* Paralax */
.paralax {
    background-image: url(../images/cavalry-3326987.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    background-attachment: fixed;

    .para1 p{
        font-size: 30px;
        margin: 20px 300px;
        padding: 20px 50px;
        border: 1px solid white;
    }
}

@media(max-width: 800px) {
    .paralax-h2{
        font-size: 30px;
    }
    .paralax{
        .para1 p {
            font-size: 20px;
            margin: 20px 20px;
            padding: 20px 50px;
            border: 1px solid white;
        }
    }
    
}

@media(max-width: 500px) {
    .paralax-h2 {
        font-size: 30px;
    }

    .paralax {
        .para1 p {
            font-size: 15px;
            margin: 0;
            padding: 20px 50px;
            border: 1px solid white;
        }
    }
}

/***** features ******/

#flex-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.three-cards {
    width: 300px;
    height: 520px;
    margin: 30px;
    position: relative;
    transition: 0.2s ease-in;
    box-shadow: 0px 10px 30px black;
    transition: all 0.2s ease-in;
}

.three-cards:hover{
    transform: scale(1.1)
}

.header {
    background: white;
    height: 150px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.details{
    h6{
        text-align: center;
    }
    hr{
        margin-bottom: 30px;
    }
    height: 270px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: all 0.2s ease-in;
}

#btn{
    background: white;
    height: 100px;
}

#btn a{
    text-decoration: none;
    height: 50px;
    width: 120px;
    display: block;
    margin: auto;
    text-align: center;
    line-height: 50px;
    position: relative;
    top: 10px;
    border-radius: 30px;
    border: 1px solid salmon;
    transition: all 0.2s ease-in;
    color: salmon;
}

#btn a:hover{
    background: rgba($color: salmon, $alpha: 0.8);
    color: white;
}

@media screen and (max-width: 1200px){
    #flex-container {
        flex-direction: column;
    }
}

@media(max-width: 500px) {
    .features{
        h3.title {
            width: 300px;
            font-size: 30px;
        }
        .txt {
            font-size: 15px;
            width: 400px;
        }
        #flex-container{
            .three-cards {
                width: 300px;
                height: 420px;
                margin: 30px;
                position: relative;
                transition: 0.2s ease-in;
                box-shadow: 0px 10px 30px black;
                transition: all 0.2s ease-in;
            }
            .header {
                background: white;
                height: 100px;
                width: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            .details {
                height: 220px;
                width: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: white;
                transition: all 0.2s ease-in;

                h6 {
                    text-align: center;
                }

                hr {
                    margin-bottom: 30px;
                }
                p{
                    font-size: 15px;
                }
            }

            #btn {
                background: white;
                height: 100px;
            }

            #btn a {
                text-decoration: none;
                height: 50px;
                width: 120px;
                display: block;
                margin: auto;
                text-align: center;
                line-height: 50px;
                position: relative;
                top: 10px;
                border-radius: 30px;
                border: 1px solid salmon;
                transition: all 0.2s ease-in;
                color: salmon;
            }

            #btn a:hover {
                background: rgba($color: salmon, $alpha: 0.8);
                color: white;
            }
        }
    }
    
}

/***** galerie ******/

#galerie{
    margin-top: 100px;
    .container-fluid {
        .h2Photos {
            padding-top: 100px;
            padding-bottom: 100px;
            font-size: 70px;
        }
    }
}

/****** Debarras *****/
#debarras{
    margin-top: 150px;
    h1 {
        font-weight: bold;
        font-size: 50px;
        margin-bottom: 100px;
    }
    
    p{
        font-size: 25px;
        text-align: center;
    }

    h3 {
        font-weight: normal;
        font-size: 45px;
        margin-top: 100px;
        margin-bottom: 40px;
        text-decoration: underline;
    }

    .solLi{
        font-size: 25px;
        margin-top: 20px;
    }

    .para-end{
        margin-top: 75px;
        font-size: 30px;
        color: #ff7300;
        font-weight: bold;
    }
}

@media(max-width: 1000px) {
    #debarras {
        h1 {
            font-weight: bold;
            font-size: 40px;
            margin-bottom: 100px;
        }

        p {
            font-size: 20px;
            text-align: center;
        }

        h3 {
            font-weight: normal;
            font-size: 35px;
            margin-top: 100px;
            margin-bottom: 40px;
            text-decoration: underline;
        }

        .solLi {
            font-size: 18px;
            margin-top: 20px;
        }

        .para-end {
            margin-top: 75px;
            font-size: 30px;
            color: #ff7300;
            font-weight: bold;
        }
    }
}

/****** CONTACT *******/

.container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 0;
}

.box {
    width: 800px;
    height: auto;
    padding: 25px;
    background: #f1f1f1;
    border-radius: 3px;

    h6 {
        font-size: 22px;
        text-align: center;
    }

    h3 {
        font-size: 45px;
        color: #ff7300;
        font-weight: 900;
        text-align: center;
        margin-bottom: 100px;
    }

    .formBloc {
        .formGroupe {
            position: relative;
            display: flex;
            width: 100%;
            margin-bottom: 50px;

            div {
                width: 100%;
            }

            label {
                position: absolute;
                top: 50%;
                left: 0px;
                transform: translateY(-50%);
                color: #ff7300;
                font-size: 20px;
                transition: 0.4s ease-out;
            }

            input {
                display: block;
                width: 100%;
                padding: 10px 0px;
                border: none;
                outline: none;
                background: none;
                border-bottom: 3px solid #ff7300;
                color: #ff7300;
                font-size: 20px;
                transition: 0.4s ease-out;
            }

            textarea {
                background-color: #f1f1f1;
                overflow: auto;
                width: 100%;
                resize: none;
            }

            &:nth-child(7) {
                margin-bottom: 65px;
                justify-content: center;
            }
        }
    }
}

.buttonSub {
    display: block;
    width: auto;
    padding: 15px 60px;
    border: 3px solid #b07748;
    border-radius: 999px;
    font-size: 20px;
    background-color: #f1f1f1;
    border: 2px solid #ff7300;
    color: #ff7300;
    float: right;
    background-image: linear-gradient(to right, transparent 50%, #ff7300 50%, #b07748);
    background-size: 200%;
    cursor: pointer;
    transition: 0.4s ease-out;
}

.buttonSub:hover {
    background-position: 100%;
    color: white;
    border: 2px solid white;
}

@media(max-width: 769px) {
    .box {
        width: 500px;
    }
}

@media(max-width: 500px) {
    .box {
        width: 400px;
    }
}


/* Animation */

.formBloc .formGroupe:focus-within label,
.formBloc .formGroupe .form-group.animation-input label {
    top: 0px;
    transform: translateY(-100%);
    color: #ff7300;
}

.formBloc .formGroupe:focus-within input,
.formBloc .formGroupe .form-group.animation-input input {
    border: 1px solid green;
}
