@charset "UTF-8";
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Kaushan Script";
  src: url(../font/Kaushan_Script/KaushanScript-Regular.ttf);
}

/*******************************************/
/*               Générale                  */
/*******************************************/
body {
  background: #f1f1f1;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Kaushan Script", sans-serif;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: black;
  text-align: center;
  background-color: #ff7300;
  border-radius: .25rem;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.tooltip.bs-tooltip-bottom .arrow::before {
  margin-left: -3px;
  content: "";
  border-width: 0 5px 5px;
  border-bottom-color: #ff7300;
}

ul {
  list-style: none;
}

.icon {
  width: 50px;
  height: 50px;
}

a.btn {
  color: white;
  border-radius: 4%;
  text-transform: uppercase;
  background-color: #2196F3;
  font-weight: 800;
  text-align: center;
}

ul.grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

hr {
  width: 150px;
  height: 2px;
  background-color: #2196F3;
  border: 0;
  margin-bottom: 80px;
}

/*******************************************/
/*               Navigation                */
/*******************************************/
#main-nav {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.container-brand {
  width: auto;
}

.bg-dark {
  background-color: black !important;
}

a.navbar-brand {
  color: #ff7300 !important;
  font-size: 45px !important;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar a {
  color: #ff7300 !important;
  font-size: 22px;
  font-weight: 700;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar.opaque .navbar-brand {
  font-size: 27px !important;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar.opaque a {
  font-size: 18px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav-item {
  margin-right: 30px;
}

.fa-phone-square-alt {
  font-size: 22px;
  color: #ff7300;
}

/*******************************************/
/*               Home Page                 */
/*******************************************/
.home,
.preview-gallery,
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 125px 100px;
}

.home h1,
.preview-gallery h1,
.features h1 {
  font-size: 100px;
  color: #ff7300;
  text-transform: capitalize;
}

.home h3,
.preview-gallery h3,
.features h3 {
  color: #ff7300;
  text-transform: capitalize;
  font-size: 50px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 35px;
  text-align: center;
}

.home p,
.preview-gallery p,
.features p {
  max-width: 1000px;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 10px;
  line-height: 2;
  font-size: 25px;
}

/***********************************/
/*             Home                */
/***********************************/
.home {
  position: relative;
  min-height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.home .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/hour-s-1994980_1920.jpg);
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

/***********************************/
/*        Preview Gallery          */
/***********************************/
.preview-gallery .grid li {
  padding: 20px;
  height: 350px;
  border-radius: 3px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
  background-color: #333;
}

.preview-gallery .grid li.small {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.preview-gallery .grid li.large {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

/***********************************/
/*             Paralax             */
/***********************************/
.paralax {
  background-image: url(../images/cavalry-3326987.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 900px;
  background-attachment: fixed;
}

.paralax .paralax-h2 {
  margin: 100px;
}

.paralax .para1 p {
  font-size: 30px;
  margin: 20px 300px;
  padding: 20px 50px;
  border: 1px solid white;
}

/***********************************/
/*             Features            */
/***********************************/
#flex-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.three-cards {
  width: 300px;
  height: 520px;
  margin: 30px;
  position: relative;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-box-shadow: 0px 10px 30px black;
          box-shadow: 0px 10px 30px black;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.three-cards:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header {
  background: white;
  height: 150px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.details {
  height: 270px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.details h6 {
  text-align: center;
}

.details hr {
  margin-bottom: 30px;
}

#btn {
  background: white;
  height: 100px;
}

#btn a {
  text-decoration: none;
  height: 50px;
  width: 120px;
  display: block;
  margin: auto;
  text-align: center;
  line-height: 50px;
  position: relative;
  top: 10px;
  border-radius: 30px;
  border: 1px solid salmon;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: salmon;
}

#btn a:hover {
  background: rgba(250, 128, 114, 0.8);
  color: white;
}

/*********************************/
/*            Footer             */
/*********************************/
footer {
  position: relative;
  width: 100%;
  margin-top: 200px;
  background: black;
  color: #ff7300;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  margin: -100px auto 0;
  padding: 0 20px;
}

footer .footer-container .footer-contact {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  background: #ff7300;
  height: 300px;
  padding: 40px 70px;
  color: black;
}

footer .footer-container .footer-contact .contact-title {
  font-size: 40px;
  color: #f1f1f1;
  margin-bottom: 20px;
  color: black;
}

footer .footer-container .about-footer,
footer .footer-container .medias-footer,
footer .footer-container .footer-list {
  min-height: 250px;
}

footer .footer-container .about-footer .liste li a,
footer .footer-container .medias-footer .liste li a,
footer .footer-container .footer-list .liste li a {
  color: #ff7300;
}

footer .footer-container .about-footer .footer-title,
footer .footer-container .medias-footer .footer-title,
footer .footer-container .footer-list .footer-title {
  font-size: 23px;
  padding-bottom: 10px;
}

footer .footer-container .about-footer .footer-txt,
footer .footer-container .medias-footer .footer-txt,
footer .footer-container .footer-list .footer-txt {
  line-height: 1.4;
}

footer .footer-container .about-footer {
  width: 40%;
  padding: 120px 40px 0;
}

footer .footer-container .footer-list,
footer .footer-container .medias-footer {
  padding: 50px 0 0;
  width: 33%;
}

footer .footer-container .medias-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-container .medias-footer a {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  margin-right: 15px;
}

/*******************************************/
/*            Galeries photos              */
/*******************************************/
#galerie {
  margin-top: 100px;
}

#galerie .container-fluid .h2Photos {
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 70px;
  color: #ff7300;
}

#galerie .container-fluid img.image-gallery {
  width: 350px;
  height: 350px;
  border-radius: 9999px;
  border: 2px solid #ff7300;
}

#galerie .container-fluid img.image-gallery:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*******************************************/
/*           Débarras & Brocante           */
/*******************************************/
#debarras {
  margin-top: 150px;
}

#debarras h1 {
  color: #ff7300;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 100px;
}

#debarras p {
  font-size: 25px;
  text-align: center;
}

#debarras h3 {
  font-weight: normal;
  font-size: 45px;
  margin-top: 100px;
  margin-bottom: 40px;
  text-decoration: underline;
}

#debarras .solLi {
  font-size: 25px;
  margin-top: 20px;
}

#debarras .para-end {
  margin-top: 75px;
  font-size: 30px;
  color: #ff7300;
  font-weight: bold;
}

#debarras img.image-brocante {
  width: 250px;
  height: 250px;
  border-radius: 9999px;
}

/*******************************************/
/*               Contact                   */
/*******************************************/
.container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 150px 0;
}

.box {
  width: 800px;
  height: auto;
  padding: 25px;
  background: #f1f1f1;
  border-radius: 3px;
}

.box h6 {
  font-size: 22px;
  text-align: center;
}

.box h3 {
  font-size: 45px;
  color: #ff7300;
  font-weight: 900;
  text-align: center;
  margin-bottom: 100px;
}

.box .formBloc .formGroupe {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}

.box .formBloc .formGroupe div {
  width: 100%;
}

.box .formBloc .formGroupe label {
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ff7300;
  font-size: 20px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.box .formBloc .formGroupe input {
  display: block;
  width: 100%;
  padding: 10px 0px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 3px solid #ff7300;
  color: #ff7300;
  font-size: 20px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.box .formBloc .formGroupe textarea {
  background-color: #f1f1f1;
  overflow: auto;
  width: 100%;
  resize: none;
}

.box .formBloc .formGroupe:nth-child(7) {
  margin-bottom: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttonSub {
  display: block;
  width: auto;
  padding: 15px 60px;
  border: 3px solid #b07748;
  border-radius: 999px;
  font-size: 20px;
  background-color: #f1f1f1;
  border: 2px solid #ff7300;
  color: #ff7300;
  float: right;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #ff7300), to(#b07748));
  background-image: linear-gradient(to right, transparent 50%, #ff7300 50%, #b07748);
  background-size: 200%;
  cursor: pointer;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.buttonSub:hover {
  background-position: 100%;
  color: white;
  border: 2px solid white;
}

/*******************************************/
/*               Animation                 */
/*******************************************/
.formBloc .formGroupe:focus-within label,
.formBloc .formGroupe .form-group.animation-input label {
  top: 0px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  color: #ff7300;
}

.formBloc .formGroupe:focus-within input,
.formBloc .formGroupe .form-group.animation-input input {
  border: 1px solid green;
}

/************************************************************************************/
/*                              769px < Ecran < 1200px                              */
/************************************************************************************/
@media (min-width: 769px) and (max-width: 1200px) {
  /*******************************************/
  /*               Navigation                */
  /*******************************************/
  a.navbar-brand {
    font-size: 30px !important;
  }
  .nav-item {
    margin-right: 10px;
  }
  .navbar a {
    font-size: 15px;
  }
  .navbar a .icon.whatsapp-icon {
    width: 30px;
    height: 30px;
  }
  /*******************************************/
  /*               Générale                  */
  /*******************************************/
  section {
    padding: 100px 50px;
  }
  .home,
  .preview-gallery,
  .features {
    padding: 125px 100px;
  }
  .home h1,
  .preview-gallery h1,
  .features h1 {
    font-size: 80px;
  }
  .home h3,
  .preview-gallery h3,
  .features h3 {
    font-size: 32px;
  }
  .home p,
  .preview-gallery p,
  .features p {
    max-width: 1000px;
    margin-bottom: 35px;
    padding: 0 10px;
    line-height: 2;
    font-size: 18px;
  }
  /*******************************************/
  /*            Preview Gallery              */
  /*******************************************/
  .preview-gallery .grid li.small,
  .preview-gallery .grid li.large {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  /*******************************************/
  /*               Paralax                   */
  /*******************************************/
  .paralax .para1 p {
    font-size: 30px;
    margin: 20px 50px;
    padding: 20px 50px;
    border: 1px solid white;
  }
  /*******************************************/
  /*               DEBARRAS                  */
  /*******************************************/
  #debarras h1 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 100px;
  }
  #debarras p {
    font-size: 20px;
    text-align: center;
  }
  #debarras h3 {
    font-weight: normal;
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 40px;
    text-decoration: underline;
  }
  #debarras .solLi {
    font-size: 18px;
    margin-top: 20px;
  }
  #debarras .para-end {
    margin-top: 75px;
    font-size: 30px;
    color: #ff7300;
    font-weight: bold;
  }
  /*******************************************/
  /*             Galerie photo               */
  /*******************************************/
  #galerie .container-fluid img.image-gallery {
    width: 200px;
    height: 200px;
  }
}

/************************************************************************************/
/*                              481px < Ecran < 768px                               */
/************************************************************************************/
@media screen and (min-width: 481px) and (max-width: 768px) {
  /*******************************************/
  /*               Navigation                 */
  /*******************************************/
  a.navbar-brand {
    font-size: 50px !important;
  }
  .nav-item {
    margin-right: 5px;
  }
  .navbar a {
    font-size: 15px;
  }
  .navbar a .icon.whatsapp-icon {
    width: 25px;
    height: 25px;
  }
  .navbar.opaque .navbar-brand {
    font-size: 20px !important;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .navbar.opaque a {
    font-size: 12px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  /*******************************************/
  /*               Générale                  */
  /*******************************************/
  section {
    padding: 80px 30px;
  }
  .home,
  .preview-gallery,
  .features {
    padding: 50px;
  }
  .home h1,
  .preview-gallery h1,
  .features h1 {
    font-size: 80px;
  }
  .home h3,
  .preview-gallery h3,
  .features h3 {
    font-size: 32px;
  }
  .home p,
  .preview-gallery p,
  .features p {
    max-width: 1000px;
    margin-bottom: 35px;
    padding: 0 10px;
    line-height: 2;
    font-size: 18px;
  }
  /*******************************************/
  /*            Preview Gallery              */
  /*******************************************/
  .preview-gallery .grid li.small,
  .preview-gallery .grid li.large {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  /*******************************************/
  /*               Paralax                   */
  /*******************************************/
  .paralax .paralax-h2 {
    font-size: 50px;
    margin: 25px 0;
  }
  .paralax .para1 p {
    font-size: 30px;
    margin: 0px 0px;
    padding: 20px 50px;
    border: 1px solid white;
  }
  /*******************************************/
  /*               Features                  */
  /*******************************************/
  .features #flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features #flex-container .three-cards {
    width: 300px;
    height: 420px;
    margin: 30px;
  }
  .features #flex-container .header {
    height: 100px;
    width: 300px;
  }
  .features #flex-container .details {
    height: 220px;
  }
  /*******************************************/
  /*             Galerie photo               */
  /*******************************************/
  #galerie {
    margin-top: 50px;
  }
  #galerie .container-fluid .h2Photos {
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #galerie .container-fluid img.image-gallery {
    text-align: center;
    width: 150px;
    height: 150px;
  }
  /*******************************************/
  /*               CONTACT                   */
  /*******************************************/
  .box {
    width: 500px;
  }
}

/************************************************************************************/
/*                              200px < Ecran < 480px                               */
/************************************************************************************/
@media screen and (min-width: 200px) and (max-width: 480px) {
  /*******************************************/
  /*               Navigation                */
  /*******************************************/
  a.navbar-brand {
    font-size: 30px !important;
  }
  .navbar.opaque .navbar-brand {
    font-size: 20px !important;
  }
  /*******************************************/
  /*               Générale                  */
  /*******************************************/
  .home,
  .preview-gallery,
  .features {
    padding: 20px;
  }
  .home h1,
  .preview-gallery h1,
  .features h1 {
    font-size: 100px;
  }
  .home h3,
  .preview-gallery h3,
  .features h3 {
    font-size: 35px;
  }
  .home p,
  .preview-gallery p,
  .features p {
    max-width: 100%;
    font-size: 15px;
  }
  /*******************************************/
  /*            Preview Gallery              */
  /*******************************************/
  .preview-gallery .grid li.small,
  .preview-gallery .grid li.large {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .preview-gallery .grid {
    width: 400px;
  }
  /*******************************************/
  /*               Paralax                   */
  /*******************************************/
  .paralax {
    background-image: url(../images/cavalry-3326987.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 100%;
    background-attachment: fixed;
    max-height: 500px;
  }
  .paralax .paralax-h2 {
    font-size: 30px;
    margin: 25px 0;
  }
  .paralax .para1 p {
    font-size: 20px;
    margin: 0;
    padding: 10px 20px;
    border: 1px solid white;
  }
  /*******************************************/
  /*               Features                  */
  /*******************************************/
  .features #flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features #flex-container .three-cards {
    width: 300px;
    height: 420px;
    margin: 30px;
  }
  .features #flex-container .header {
    height: 100px;
    width: 300px;
  }
  .features #flex-container .details {
    height: 220px;
  }
  /*******************************************/
  /*               CONTACT                   */
  /*******************************************/
  .box {
    width: 400px;
  }
  /*******************************************/
  /*           Page Brocante                 */
  /*******************************************/
  #debarras {
    text-align: center;
  }
  #debarras h1 {
    font-size: 30px;
    margin-bottom: 50px;
  }
  #debarras h3 {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  /*******************************************/
  /*               Footer                    */
  /*******************************************/
  footer .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
    padding: 0 20px;
  }
  footer .footer-container .footer-contact {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 20px 20px;
  }
  footer .footer-container .about-footer,
  footer .footer-container .medias-footer,
  footer .footer-container .footer-list {
    min-height: 150px;
  }
  footer .footer-container .about-footer {
    text-align: center;
    width: 100%;
  }
  footer .footer-container .footer-list,
  footer .footer-container .medias-footer {
    text-align: center;
    width: 100%;
    padding: 20px 0 0;
  }
  footer .footer-container .medias-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-container .medias-footer a {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: block;
    margin-right: 0px;
    padding: 0 5px;
  }
}
/*# sourceMappingURL=app.css.map */