<footer>
    <div class="footer-container">
        <div class="footer-contact">
            <p class="contact-title">A propos</p>
            <p class="contact-text">
                Véritables professionnels du débarras depuis 2013, avec de nombreuses interventions partout en
                France, nous avons fondé BROC EN STOCK pour apporter
                notre expérience et accompagner nos clients.

                Du premier besoin à la fin de l'intervention, nous mettons tout en œuvre pour une prestation maîtrisée
                et une satisfaction complète.
            </p>
        </div>

        <div class="about-footer">
            <p class="footer-title">Contactez-nous</p>
            
            <p class="footer-txt">
                <ul>
                    <li><a href="tel:0609202938">0609202938</a></li>
                    <li><a href="mailto:broc-en-stock@hotmail.com">broc-en-stock@hotmail.com</a></li>
                </ul>
            </p>
        </div>

        <div class="footer-list">
            <p class="footer-title">Accès rapide</p>
            <ul class="liste">
                <li><a href="">Débarras</a></li>
                <li><a href="">Brocante</a></li>
                <li><a href="{{ path('gallery') }}">Galerie photo</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>

        <div class="footer-list">
            <p class="footer-title">Liens rapide</p>
            <ul class="liste liste2">
                <li><a href="">C.G.V</a></li>
                <li><a href="">Mentions légales</a></li>
            </ul>
        </div>

        <div class="medias-footer">
            <a href="#">
                <img style="width: 50px; height: 50px" src="{{ asset('ressources/facebook-social-badge.svg')}}" alt="fb icon">
            </a>
            <a href="#">
                <img style="width: 50px; height: 50px" src="{{ asset('ressources/instagram-social-badge.svg')}}" alt="insta icon">
            </a>
            <a href="#">
                <img style="width: 50px; height: 50px" src="{{ asset('ressources/whatsapp.svg')}}" alt="whatsapp icon">
            </a>
        </div>


    </div>
</footer>