<header id="top">
    <div class="container">
        <nav id="main-nav" class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
            <div class="container">
                <a href="{{ path('home_page') }}" class="navbar-brand"> BROC & STOCK</a>
            </div>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-1">
                        <a href="#" class="nav-link">Débarras</a>
                    </li>
                    <li class="nav-item mr-1">
                        <a href="#" class="nav-link">Brocante</a>
                    </li>
                    <li class="nav-item mr-1">
                        <a href="{{ path('gallery') }}" class="nav-link">Galerie photo</a>
                    </li>
                    <li class="nav-item mr-1">
                        <a href="" class="nav-link">Contact</a>
                    </li>
                </ul>
                
            </div>
        </nav>
    </div>
</header>



{# <div class="container-navlinks">
    <a href="#">Présentation</a>
    <a href="#">Débarras</a>
</div>
<a class="logo-link" href="#">
    Broc & Stock
</a>
<div class="nav-right">
    <a href="#">Brocante</a>
    <a href="{{ path('gallery') }}">Galerie photo</a>
</div> #}