<!-- ======= Top Bar ======= -->
<header id="top">
    <div class="container">
        <nav id="main-nav" class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
            <div class="container-brand">
                <a href="{{ path('home_page') }}" data-toggle="tooltip" data-placement="bottom" title="Retour à la page d'accueil"
                    class="navbar-brand"> BROC en STOCK</a>
            </div>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
                <ul class="navbar-nav align-items-center">
                    <li class="nav-item">
                        <a href="{{ path('antiquite') }}" class="nav-link">Brocante / Antiquités</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('debarras') }}" class="nav-link">Débarras</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('gallery') }}" class="nav-link">Galerie photos</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('contact') }}" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="tel:0609202938">
                            <img src="{{ asset('ressources/whatsapp.svg')}}"
                                class="icon whatsapp-icon"
                                alt="whatsapp icon">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>