{% extends 'base.html.twig' %}

{% block title %}Nous achetons et nous vendons !!{% endblock %}

{% block body %}
{% include 'partials/_navbar.html.twig' %}
<section id="debarras" class="container">

    <h1 style="color: #ff7300;">Broc En Stock Antiquité/brocante à Iriginy (69)</h1>
    <h3>Antiquaires et brocanteurs</h3>
    <p class="">Véritables passionnés de la chine d'objets vintages, anciens, curieux ..., Sébastien vous trouvera la perle rare.
    </p>
    <p class="">
        Seb vous trouve de tout, il aura toujours un objet pour vous souvenir d’un autre temps. il vous
        fera découvrir son univers dans les differents marché, vides greniers et brocante de la région. Cela peut aller de l’amphore romaine daté du
        Ier siècle à la chaise de designer du XXIe.
    </p>
    <p>
        Amateurs ou non d’objets rares et anciens, il trouvera pour vous l'objet rare qui fera de votre intérieure un
        lieu unique. Nous dénichons pour vous tous types d’objets anciens ou d’occasion à venir découvrir en boutique.
    </p>
    <h3>Achat/vente d’objets anciens ou d’occasion </h3>
    <p class="">
        Nous pourrons également vous estimez la plupart de vos objets. Nous achetons régulièrement tous types d’objets
        anciens ou d’occasion (meubles, bibelots, horloges/montres, déco vintage…).
    </p>
    <h3>Découvrez notre univers antiquité & brocante</h3>
    <h4>Dernière acquisition ....</h4>
    <div class="row mb-3">
        {% for product in products %}
            <div class="col-md-3">
                <a href="{{ path('gallery') }}"><img src="{{ asset( 'images/products/'~ product.product )}}"
                        class="img-fluid" alt="portfolio image"></a>
                
            </div>
            {% endfor %}
        </div>
</section>

{% include 'partials/_footer.html.twig' %}
{% endblock %}
