{% extends 'base.html.twig' %}

{% block title %}Hello AntiquiteController!{% endblock %}

{% block body %}
{% include 'partials/_navbar.html.twig' %}
<section id="debarras" class="container">

    <h1>Broc En Stock Antiquité/brocante à Saint-Genis-Les-Ollières (69)</h1>
    <h3>Antiquaires et brocanteurs</h3>
    <p class="">Véritables passionnés de l’histoire de l’art et la décoration d’intérieur, Stéphanie et Sébastien vous
        accueillent dans leur boutique à Saint Genis Les Ollières.
    </p>
    <p class="">
        Chez nous, on y trouve de tout et il y a toujours un objet pour se souvenir d’un autre temps. Nous vous
        ferons découvrir un grand nombre d’objets plus ou moins anciens, cela peut aller de l’amphore romaine daté du
        Ier siècle à la chaise de designer du XXIe.
    </p>
    <p>
        Amateurs ou non d’objets rares et anciens, vous y trouverez celui qui fera de votre décoration intérieure un
        lieu unique. Nous dénichons pour vous tous types d’objets anciens ou d’occasion à venir découvrir en boutique.
    </p>
    <h3>Achat/vente d’objets anciens ou d’occasion </h3>
    <p class="">
        Nous pourrons également vous estimez la plupart de vos objets. Nous achetons régulièrement tous types d’objets
        anciens ou d’occasion (meubles, bibelots, horloges/montres, déco vintage…).
    </p>
    <h3>Découvrez notre univers antiquité & brocante</h3>
    
</section>

{% include 'partials/_footer.html.twig' %}
{% endblock %}
