{% extends 'base.html.twig' %}

{% block title %}Broc en Stock{% endblock %}

{% block stylesheets %}
    <style>
        body{
            margin: 0;
            padding: 0;
            height: 100vh;
            background: url(../ressources/lens-3252078_1920.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            overflow-x: hidden;
        }

        .container-first{
            position: absolute;
            top: 30%;
            left: 5%;
        }

        h1{
            text-transform: uppercase;
            font-size: 110px;
            color: #ff7300;
        }

        span{
            position: relative;
        }

        .container-btns{
            position: relative;
            top: 50px;
        }

        a.btn {
            color: #ff7300;
            border-radius: 50px;
            text-transform: uppercase;
            background-color: black;
            font-weight: 800;
            text-align: center;
        }

        .btn-first{
            border: 2px solid #ff7300;
            outline: none;
            background: transparent;
            font-size: 30px;
            padding: 20px;
            width: 300px;
            cursor: pointer;
            color: #ff7300;
            border-radius: 50px;
        }

        .btn-first:nth-child(1){
            margin-right: 30px;
        }

        .btn-first:hover{
            transition: all 0.3s ease-in-out;
            background: #ff7300;
            color: black;
        }

        .lignes{
            position: absolute;
            top: 6%;
            left: 5%;
        }

        .l1{
            width: 250px;
            height: 3px;
            background: #ff7300;
            border-radius: 5px;
        }

        .l2{
            width: 140px;
            height: 3px;
            background: #ff7300;
            border-radius: 5px;
            position: relative;
            top: 20px;
        }

        .medias{
            position: absolute;
            right: 3.3%;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .logo-medias{
            width: 100px;
            height: 100px;
        }

        .bulle{
            width: 80px;
            height: 80px;
            margin-bottom: 30px;
            cursor: pointer;
            position: relative;
        }

        @media(max-width: 1000px) {
            h1{
                font-size: 70px;
            }

            .l1{
                width: 200px;
            }

            .l2{
                width: 90px;
            }

            .btn-first{
                font-size: 20px;
                width: 200px;
            }

            .bulle{
                width: 0px;
                height: 100px;
                margin-bottom: 50px;
                margin-right: 100px;
            }

            .medias{
                position: absolute;
                right: 40%;
                top: 80%;
                transform: translateY(-60%);
                flex-direction: row;
            }
        }
        @media(max-width: 600px) {
            h1{
                font-size: 40px;
            }

            .l1{
                width: 150px;
            }

            .btn-first{
                font-size: 18px;
                width: 150px;
            }

            .bulle{
                width: 20px;
                height: 20px;
                margin-bottom: 90px;
                margin-right: 100px;
            }

            .medias{
                position: absolute;
                right: 40%;
                top: 80%;
                transform: translateY(-60%);
                flex-direction: row;
            }
        }

        @media(max-width: 414px) {
            .bulle{
                width: 20px;
                height: 20px;
                margin-bottom: 90px;
                margin-right: 100px;
            }

            .medias{
                position: absolute;
                right: 20%;
                top: 80%;
                flex-direction: row;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <div class="lignes">
        <div class="l1"></div>
        <div class="l2"></div>
    </div>

    <div class="container-first">
        <h1><span>Brock </span><span>& </span><span>Stock</span></h1>
        <div class="container-btns">
            <a href="{{ path('home_page')}}" class="btn btn-first b1">Découvrir</a>
            <a href="{{ path('contact')}}" class="btn btn-first b2">Contact</a>
        </div>
    </div>

    <ul class="medias">
        <li class="bulle">
            <img src="{{ asset('ressources/facebook-social-badge.svg')}}" alt="logo facebook" class="logo-medias">
        </li>
        <li class="bulle">
            <img src="{{ asset('ressources/instagram-social-badge.svg')}}" alt="logo instagram" class="logo-medias">
        </li>
    </ul>

{% endblock %}
