{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1>Edit Product</h1>

    {{ include('admin/add_product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('add_product_list') }}">back to list</a>

    {{ include('admin/add_product/_delete_form.html.twig') }}
{% endblock %}
