{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <h1>Create new Product</h1>

    {{ include('admin/add_product/_form.html.twig') }}

    <a href="{{ path('add_product_list') }}">back to list</a>
{% endblock %}
