{% extends 'base.html.twig' %}

{% block title %}Débarras chez B&S{% endblock %}

{% block body %}
{% include 'partials/_navbar.html.twig' %}
<section id="debarras" class="container">
    
    <h1>Broc en Stock experts du débarras en Rhône Alpes</h1>

    <p class="">Véritables professionnels du débarras depuis 2013, avec de nombreuses interventions partout en France,
        nous avons fondé BROC EN STOCK pour apporter notre expérience et accompagner nos clients.
    </p>
    <p class="">
        Du premier besoin à la fin de l'intervention, nous mettons tout en œuvre pour une prestation maîtrisée et une
        satisfaction complète.
    </p>
    <h3>Nos solutions de débarras</h3>
    <p class="">
        Nous débarrassons et estimons vos objets anciens et d’occasion/ vintages, provenant de succession, maison,
        appartement, grenier, cave… Nous nous déplaçons sur toute la région Rhône Alpes où nous sommes situés mais
        également sur la France entière (avec devis sur photo au préalable).
    </p>
    <p class="">
        Nous vous proposons trois solutions de débarras :
    </p>
    <p id="solution-debarras">
        <ul class="listeSolution ">
            <li class="solLi solLi1">- Débarras avec apport financier de notre part. Vos objets, meubles, et encombrants divers ont une
                valeur supérieure au coût du débarras.
            </li>
            <li class="solLi solLi2">- Débarras gratuit, nous nous rémunérons avec ce que nous débarrassons. </li>
            <li class="solLi solLi3">- Débarras facturé, le montant varie en fonction du volume, de l’accessibilité, du
                tri à effectuer,
                ainsi que l’insalubrité du lieu.
            </li>
        </ul>
    </p>
    <p class="para-end">
        N'hésitez pas et faites appel à notre équipe de choc !
    </p>
</section>

{% include 'partials/_footer.html.twig' %}
{% endblock %}
