{% extends 'base.html.twig' %}

{% block title %}Galerie Photos{% endblock %}

{% block body %}
    {% include "partials/_navbar.html.twig" %}
    <section id="galerie">
        <div class="container-fluid">
            <h2 class="text-center h2Photos">Découvrez notre univers en photo</h2>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="row mb-3">
                        {% for product in products %}
                            <a href="{{ asset( 'images/products/'~ product.product )}}" data-toggle="lightbox"
                            data-gallery="exemple-gallery" class="col-sm-4 mb-5">
                                <img src="{{ asset( 'images/products/'~ product.product ) | imagine_filter('carre')}}" class="img-fluid"
                                    alt="portfolio image">
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "partials/_footer.html.twig" %}
{% endblock %}
